# Data
data/*.csv
*.zip

# Trained models
/models/

# Temporary training files
tmp_trainer/

# Results
results/submission.csv

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment
.env
